Test_Results
Abhishek_Code_V2
NoSoC/db
NoSoC/incremental_db
NoSoC/output_files
NoSoC/*.bak
NoSoC/*log
NoSoC/.qsys_edit
NoSoC/simulation

SoC/db
SoC/incremental_db
SoC/output_files/*
!SoC/output_files/DE10_Standard_GHRD.sof
SoC/*.bak
SoC/*log
SoC/.qsys_edit
SoC/simulation
SoC/greybox_tmp
SoC/hps_isw_handoff
SoC/soc_system
SoC/*.sopcinfo